@using ProyectoFinalVentaDeBoletos.Models.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PeliculaViewModel
@{
    Layout = "_MainLayout";
}

<link rel="stylesheet" href="~/Estilos/estilos.css">

<section class="pelicula-info">
    @if(Model.Pelicula!=null){
        <form action="~/ComprarAsiento/@Model.Pelicula.Nombre.Replace(' ','-')" method="get">
            <div class="poster">
                <img src="~/images/@(Model.Pelicula.Id).jpg" alt="@Model.Pelicula.Nombre">
            </div>
            <div class="descripcion">
                
                <h1>@Model.Pelicula.Nombre</h1><br>
                <p>@Model.Pelicula.Informacion</p><br><br>
                <p>@Model.Pelicula.Sinopsis</p>
                <br>
                @if (Model.Horarios!=null && Model.Horarios.Any())
                {
                    <p>Selecciona el horario disponible</p>
                    <select id="horarios" asp-for="IdHorario" asp-items="Model.Horarios.Select(x=> new SelectListItem{ Value = x.Id.ToString(),Text = x.HorarioDisponible})"></select>
                    <br />
                    <input type="submit" class="comprar-btn" value="Comprar Boletos"/>
                }
                else
                {
                    <h1>Lo sentimos, la pelicula no esta disponible en estos momentos</h1>
                }
            </div>
        </form>
    }
</section>

<section class="otras-peliculas">
    <h2>Otras Películas Que Podrían Interesarte:</h2>
   
    @if (Model.OtrasPeliculas.Count()>0)
    {
        <div class="peliculas-container">
        
            @foreach (var op in Model.OtrasPeliculas)
            {
                <a href="~/Pelicula/@(op.Nombre.Replace(' ','-'))">
                    <div class="pelicula">
                        <img src="~/images/@(op.Id).jpg" alt="@op.Nombre">
                        <h3>@op.Nombre</h3>
                        <p>@op.Año</p>
                    </div>

                </a>
            }
        </div>
    }
    else
    {
        <h1>No hay otras peliculas, vuelva más tarde</h1>
    }
</section>