@using ProyectoFinalVentaDeBoletos.Models.ViewModels
@model PeliculaViewModel
@{
    Layout = "_MainLayout";
}

<link rel="stylesheet" href="~/Peliculas/estilos.css">

<form>
<section class="pelicula-info">

    @if(Model.Pelicula!=null){
        <div class="poster">
            <img src="~/images/@(Model.Pelicula.Id).jpg" alt="@Model.Pelicula.Nombre">
        </div>
        <div class="descripcion">
            <h1>@Model.Pelicula.Nombre</h1><br>
            <p>@Model.Pelicula.Informacion</p><br><br>
            <p>@Model.Pelicula.Sinopsis</p>
            <br>
            @if (Model.Horarios.Any())
            {
                <p>Selecciona el horario disponible</p>
                <select id="horarios">
                    @foreach (var h in Model.Horarios)
                    {
                        <option value="@h.Id
                        ">@h.HorarioDisponible
                        </option>
                    }
                </select>
                <br />
                <input type="submit" class="comprar-btn" value="Comprar Boletos" />
            }
            else
            {
                <h1>Lo sentimos, la pelicula no esta disponible en estos momentos</h1>
            }
        </div>
    }
</section>
</form>
<section class="otras-peliculas">
    <h2>Otras Películas Que Podrían Interesarte:</h2>
    <div class="peliculas-container">
        @if (Model.OtrasPeliculas.Count()>0)
        {
            @foreach (var op in Model.OtrasPeliculas)
            {
                <a href="~/Pelicula/@(op.Nombre.Replace(' ','-'))">
                    <div class="pelicula">
                        <img src="~/images/@(op.Id).jpg" alt="@op.Nombre">
                        <h3>@op.Nombre</h3>
                        <p>@op.Año</p>
                    </div>
                </a>
            }
        }
        else
        {
            <h1>No hay otras peliculas, vuelva más tarde</h1>
        }
    </div>
</section>