@model ProyectoFinalVentaDeBoletos.Areas.Admin.Models.Horarios.AgregarHorarioViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="contenedor-agregarhorarios">
    <form method="post" action="~/Admin/Horarios/Agregar" enctype="multipart/form-data">
        <br />
        <h1 id="h1AgregarH">Agregar Horario</h1>
        <br>

        <label id="labelHPelicula">Pelicula:</label> <br>
        <select id="cmbPeliculas" name="Pelicula">
            @foreach(var p in Model.Peliculas)
            {
                <option value="@(p.Id)">@p.Nombre</option>
            }
        </select><br>

        <label id="labelHHorarios">Horarios:</label> <br>
        <select id="cmbHorarios" name="Sala">
            @foreach(var h in Model.Horarios)
            {
            <option value="@(h.Id)">@h.HoraInicio - @h.HoraTerminacion</option>
            }
        </select><br/>
        <input type="submit" value="Agregar"/>
        <input type="button" value="Cancelar" action="~/Admin"/>
    </form>
</div>
